@{
    Layout = "_Layout";
}
<div class="navbar sticky-top justify-content-end">
    <div class="container-fluid content-width">
        <a class="navbar-brand" href="">
            <img src="img/min_logo.png" class="logo" alt="FSharp logo"/>
            Русскоязычное сообщество F#
        </a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Примеры кода</a>
                </li>
                <li>
                    <a href="/">Почему F#</a>
                </li>
                <li>
                    <a href="/">Компилятор онлайн</a>
                </li>
                <li>
                    <a href="/">Уроки</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Сообщество <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://gitter.im/fsharplang_ru/Lobby" target="_blank">Чат в Gitter</a>
                        </li>
                        <li>
                            <a href="https://t.me/fsharp_chat" target="_blank">Чат в Telegram</a>
                        </li>
                        <li>
                            <a href="https://github.com/fsharplang-ru" target="_blank">Мы на GitHub</a>
                        </li>
                        <li>
                            <a href="http://fsharp.org/" target="_blank">Официальный сайт F#</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
                